global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus_exporter'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'postgres_exporter'
    metrics_path: '/metrics'
    scrape_interval: 15s
    static_configs:
      - targets: ['postgres-exporter:9187']

  - job_name: 'kafka_exporter'
    metrics_path: '/metrics'
    scrape_interval: 15s
    static_configs:
      - targets: ['kafka-exporter:9422']

  - job_name: 'elasticsearch_exporter'
    metrics_path: '/metrics'
    scrape_interval: 15s
    static_configs:
      - targets: ['elasticsearch-exporter:9108']

  - job_name: 'isaac_api_exporter'
    metrics_path: '/metrics'
    scrape_interval: 15s
    static_configs:
      - targets: ['ADD_YOUR_LOCAL_IP_HERE:9966']
