html, body
{
	height: 100%;
}

body
{
	background-attachment:fixed;
}

.wrapper
{
	min-height: 100%;
	margin: 0 auto -28px;
}

#header{
	background-color: #404040;
	text-align: center;
	padding: 20px 10px 12px 10px;
}

#header h2
{
	color: #a8b400;
}

.top-bar-section ul li > a
{
	color: #a8b400;
}

.top-bar-section ul li.active > a
{
	color: #a8b400;
}

#content
{
	background: rgba(255,255,255,0.7);
}

.footer-area
{
	text-align:right;
	}

#footer
{
	padding-top: 5px;
	background-color: #404040;
	color: #a8b400;
	padding-bottom: 5px;
}
.footer-area, .push
{
	height: 38px;
}



.left-question-column
{
	text-align: left;
}

.concept-column
{
	text-align: center;
}

.concept-page
{
	counter-reset: figures;	
}

.concept-page figure
{
	float:right;
	clear:right;
	width:30%;
	padding-left:8px;
}

.concept-page figure figcaption
{
	font-size:0.8em;
}

.right-question-column
{
	text-align: right;
}

.related-link
{
	outline: 3px dashed grey;
}

span.question-wrong
{
	margin-left: 20px;
	display:none;
	font-size: inherit;
}

span.question-explanation
{
	display:block;
	background: green;
	font-size: inherit;
	margin-top: 20px;
}

#questionContent, #conceptContent
{
	border-left: 1px solid #444;
}

/* Gears */

.gear {
	position: absolute;
}

.gear a {
	width: 60%;
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: #a8b400;
}

#real-world-problems {
	height: 143px;
	width: 144px;
	left: 408px;
	top: 20px;
}

#real-world-problems a {
	top: 54px;
}

#register {
	height: 230px;
	width: 229px;
	left: 230px;
	top: 78px;
}

#register a {
	top: 100px;
}

#why-physics {
	height: 230px;
	width: 229px;
	right: 268px;
	top: 64px;
}

#why-physics a {
	top: 112px;
}

#get-started {
	height: 310px;
	width: 308px;
	left: 340px;
	top: 228px;	
}

#get-started a {
	top: 140px;
	font-weight: bold;
	font-size: 24px;
}

#discuss {
	height: 143px;
	width: 144px;
	left: 111px;
	top: 255px;	
}

#discuss a {
	top: 62px;
}

#applying-to-university {
	height: 143px;
	width: 144px;
	right: 168px;
	top: 200px;		
}

#applying-to-university a {
	top: 54px;
}

#challenge-of-the-week {
	height: 241px;
	width: 240px;
	left: 146px;
	top: 358px;	
}

#challenge-of-the-week a {
	top: 105px;
}

#about {
	height: 191px;
	width: 194px;
	right: 230px;
	top: 408px;	
}

#about a {
	top: 85px;
}

.mcq {
	list-style-type:lower-alpha;
}

.mcq input {
	margin-right: 1em;
}

.hidden{
	display:none;
}
