.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

html, body
{
	height: 100%;
}

body
{
	background-attachment:fixed;
}
.wrapper
{
	min-height: 100%;
	margin: 0 auto -28px;
}

.main.wrapper{
	/*background: url(../img/bg.png) repeat 10px 10px fixed;*/
}
#header{
	background-color: #404040;
	text-align: center;
	padding: 20px 10px 12px 10px;
}

#header h2
{
	color: #a8b400;
}

.top-bar-section ul li > a
{
	color: #a8b400;
}

.top-bar-section ul li.active > a
{
	color: #a8b400;
}

#content
{
	background: rgba(255,255,255,0.7);
}

#conceptContent .section-container.accordion{
	clear: both;
}

#content a:hover
{
	text-decoration:underline;
}

#content .button:hover{
	text-decoration:none;
}

#content .disabled-text{
	color:#999999;
}

#content .emphasise-text{
	font-style:italic;
	font-weight:bold;
}

#content .pagination-bar{
	margin-top:5px;
}

ul
{
	list-style-type:none;
}

ol li
{
	margin-left:20px;
}

ol li ol{
	list-style-type:lower-alpha;
}

.footer-area
{
	text-align:right;
	}

#footer
{
	padding-top: 5px;
	background-color: #404040;
	color: #a8b400;
	padding-bottom: 5px;
}
.footer-area, .push
{
	height: 38px;
}



.left-question-column
{
	text-align: left;
}

.concept-column
{
	text-align: center;
}

.concept-page
{
	counter-reset: figures;	
}

.concept-page figure
{
	float:right;
	clear:right;
	width:30%;
	padding-left:8px;
}

.concept-page figure figcaption
{
	font-size:0.8em;
}

.right-question-column
{
	text-align: right;
}

.related-link
{
	outline: 3px dashed grey;
}

span.question-wrong
{
	margin-left: 20px;
	display:none;
	font-size: inherit;
}

span.question-explanation, .answer
{
	color:white;
	display:block;
	background: green;
	font-size: inherit;
	margin-top: 20px;
}

.answer
{
	padding: 10px 10px 1px;
	margin-bottom:5px;	
	clear:both;
}

#questionContent, #conceptContent
{
	border-left: 1px solid #444;
}

.question-footer
{
	font-style: italic;
	font-size: 10px;
}

.failed-to-load{
	width:50%; 
	margin:0 auto;
}

.failed-to-load span{
	font-size:1em;	
}

.row .consent{
	margin-bottom:10px;
}

.consent label{
	display:inline;
	margin-left:5px;
	margin-bottom:5px;
}

/* Homepage */
#homepage-intro{
	padding-top:20px;
}
#homepage-links{
	margin-bottom:20px;
}
#homepage-links a{
	margin:0;
}

#homepage-links li{
	float:left;
	padding-right:5px;
	padding-top:5px;
}
#homepage-links:last-child{
	padding-right:0px;
}
.youtube-video{
	width:100%;
	height:501px;
}
.large-promo{
	padding-bottom:10px;
	text-align:center;
	height:50%;
}
.centered-links{
	text-align:center;
}

.featured-physicist span, .promo-box span{
	font-weight:bold;
}
.featured-physicist img{
	height:225px;
}

.featured-content{
	padding:15px;
}
.panel-content{
	height:250px;
}
.promo-box .button{
	width:100%;
}

.events .panel-content li{
	margin-bottom:10px;
}

.mcq {
	list-style-type:lower-alpha;
}

.mcq input {
	margin-right: 1em;
}

.hidden{
	display:none;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	
	display:inline;
	position:relative;
	top: 12px;
	left: -5px;
}

