.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

html, body
{
	height: 100%;
}

body
{
	background-attachment:fixed;
}
.wrapper
{
	min-height: 100%;
	margin: 0 auto -28px;
}

.main.wrapper{
	/*background: url(../img/bg.png) repeat 10px 10px fixed;*/
}
#header{
	background-color: #404040;
	text-align: center;
	padding: 20px 10px 12px 10px;
}

#header h2
{
	color: #a8b400;
}

.top-bar-section ul li > a
{
	color: #a8b400;
}

.top-bar-section ul li.active > a
{
	color: #a8b400;
}

#content
{
	background: rgba(255,255,255,0.7);
}

#conceptContent .section-container.accordion{
	clear: both;
}

#content a:hover
{
	text-decoration:underline;
}

#content .button:hover{
	text-decoration:none;
}

#content .disabled-text{
	color:#999999;
}

#content .emphasise-text{
	font-style:italic;
	font-weight:bold;
}

#content .pagination-bar{
	margin-top:5px;
}

ul
{
	list-style-type:none;
}

ol li
{
	margin-left:20px;
}

ol li ol{
	list-style-type:lower-alpha;
}

.footer-area
{
	text-align:right;
	}

#footer
{
	padding-top: 5px;
	background-color: #404040;
	color: #a8b400;
	padding-bottom: 5px;
}
.footer-area, .push
{
	height: 38px;
}



.left-question-column
{
	text-align: left;
}

.concept-column
{
	text-align: center;
}

.concept-page
{
	counter-reset: figures;	
}

.concept-page figure
{
	float:right;
	clear:right;
	width:30%;
	padding-left:8px;
}

.concept-page figure figcaption
{
	font-size:0.8em;
}

.right-question-column
{
	text-align: right;
}

.related-link
{
	outline: 3px dashed grey;
}

span.question-wrong
{
	margin-left: 20px;
	display:none;
	font-size: inherit;
}

span.question-explanation, .answer
{
	color:white;
	display:block;
	background: green;
	font-size: inherit;
	margin-top: 20px;
}

.answer
{
	padding: 10px 10px 1px;
	margin-bottom:5px;	
	clear:both;
}

#questionContent, #conceptContent
{
	border-left: 1px solid #444;
}

.question-footer
{
	font-style: italic;
	font-size: 10px;
}

.failed-to-load{
	width:50%; 
	margin:0 auto;
}

.failed-to-load span{
	font-size:1em;	
}

.row .consent{
	margin-bottom:10px;
}

.consent label{
	display:inline;
	margin-left:5px;
	margin-bottom:5px;
}

/* Gears */

.gear {
	position: absolute;
}

.gear a{
	display:block;
	border-radius:100%;
	line-height:100px;
	text-align:center;
	height:100%;
	width:100%;
}

.gear a span{
	width: 100%;
	position: absolute;
	display: block;
	line-height:1em;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: #a8b400;
}

#featured-problems {
	height: 143px;
	width: 144px;
	left: 408px;
	top: 20px;
}

#featured-problems a span{
	top: 54px;
	width:60%;
	left:30px;
}

#register {
	height: 230px;
	width: 229px;
	left: 230px;
	top: 78px;
}

#register a span{
	top: 100px;
}

#why-physics {
	height: 230px;
	width: 229px;
	left: 502px;
	top: 64px;
}

#why-physics a span{
	top: 112px;
}

#get-started {
	height: 310px;
	width: 302px;
	left: 340px;
	top: 228px;	
}

#get-started a span{
	top: 140px;
	font-weight: bold;
	font-size: 24px;
}

#discuss {
	height: 143px;
	width: 144px;
	left: 111px;
	top: 255px;	
}

#discuss a span{
	top: 62px;
}

#applying-to-university {
	height: 143px;
	width: 144px;
	left: 685px;
	top: 200px;		
}

#applying-to-university a span{
	top: 54px;
}

#challenge-of-the-week {
	height: 241px;
	width: 240px;
	left: 146px;
	top: 358px;	
}

#challenge-of-the-week a span{
	top: 105px;
}

#about {
	height: 191px;
	width: 194px;
	left: 580px;
	top: 408px;	
}

#about a span{
	top: 85px;
}

.mcq {
	list-style-type:lower-alpha;
}

.mcq input {
	margin-right: 1em;
}

.hidden{
	display:none;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	
	display:inline;
	position:relative;
	top: 12px;
	left: -5px;
}

